[connection]
id={{ wifi_ssid }}
type=wifi
autoconnect=true
permissions=

[wifi]
ssid={{ wifi_ssid }}
mode=infrastructure
mac-address-blacklist=

[wifi-security]
key-mgmt=wpa-psk
psk={{ wifi_password }}

[ipv4]
method=auto

[ipv6]
method=auto
